div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 200px;
  flex-direction: row-reverse;
  /* border: solid purple 1px; */
}

img:nth-child(2) {
  border: 2px solid red;
  order: 1;
  align-self: baseline;
}
